<%- include('partials/header'); -%>

    <div class="container-fluid">
        <h1>About Us</h1>
        <p>Hey, it's "us" here. Who are <span><em>"we"</em></span>? We are you. Don't worry. We made this website so that you can be able to journal whatever is on your thoughts. It's pretty good for you (so we've heard). Well... what are ya waiting for? Go journal!</p>
    </div>

<%- include('partials/footer'); -%>