<%- include('partials/header'); -%>

<div class="container-fluid">
    <h1>Contact Us</h1>
    <p>You thought you were gonna be able to contact "us"? Psyche! We are you! Contact yourself buddy.</p>
</div>

<%- include('partials/footer'); -%>